*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    height: 6rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar h1{
    font-size: 3rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 5rem 0;
}

.choice{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover{
    background-color: black;
}

.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #bot-score{
    font-size: 4rem;
}

.message{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: yellow;
    color: red;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}